{% extends "base.html" %}

{% block contenido %}
<header class="header">
  <h1 class="logo">Bebidas</h1>
</header>

<main class="grid">
  {% for b in bebidas %}
    <div class="card">
      <img src="{{ url_for('static', filename=b.imagen or 'placeholder.png') }}" alt="">
      <span class="producto-nombre">{{ b.nombre }}</span>
      <span class="producto-precio">${{ b.precio }}</span>

      <form action="/agregar/{{ b.id }}" method="POST">
        <input type="number" name="cantidad" value="1" min="1" class="numerin">
        <button type="submit" class="agr-btn">Agregar</button>
      </form>
    </div>
  {% endfor %}
</main>
{% endblock %}
