{% extends "base.html" %}

{% block contenido %}
<header class="header">
  <h1 class="logo">Carrito</h1>
</header>

<main class="lista-productos">
    {% for p in productos %}
        <div class="card">
            <span class="producto-nombre">{{ p.nombre }}</span>
            <span class="producto-precio">${{ p.precio }}</span>
            <span class="producto-cantidad">{{ p.cantidad }}</span>
        </div>
    {% endfor %}
    <form action="/pedido" method="POST">
      <button type="submit" class="pagar-btn">Pagar</button>
    </form>
</main>
{% endblock %}
